//
// SETTINGS
//
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";
@import "settings.responsive";
@import "settings.spacing-units";
@import "settings.colors";
@import "settings.widths";

//
// TOOLS
//
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-tools-widths/tools.widths";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.mixins";


//
// GENERIC
//
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";


//
// BASE
//
@import "bower_components/inuit-page/base.page";
@import "bower_components/inuit-images/base.images";
@import "base.page";
@import "base.type";
video {
    width: 100%;
}


//
// OBJECTS
//
$inuit-enable-pack--auto: true;
$inuit-enable-flag--top: true;
$inuit-enable-flag--rev: true;
$inuit-list-ui-padding: $spacing-unit;
$inuit-list-ui-border-width: 0;
@import "bower_components/inuit-list-inline/objects.list-inline";
@import "bower_components/inuit-list-ui/objects.list-ui";
@import "bower_components/inuit-pack/objects.pack";
@import "bower_components/inuit-layout/objects.layout";
@import "bower_components/inuit-flag/objects.flag";
@import "objects.wrapper";
@import "objects.chapter";
@import "objects.article";

.list-ui {
    &,
    & > li,
    & > .list-ui__item {
        padding-left: 0;
        padding-right: 0;
    }

    .heading {
        margin: 0 0 $spacing-unit--tiny;
    }
}

.link-block {
    display: block;
    color: inherit;
}

.vertically-centered {
    position: relative;
    height: 100%;
}
    .vertically-centered__content {
        width: 100%;
        position: absolute;
        top: 50%;
        @include vendor(transform, translateY(-50%));

        .vertically-centered--ish & {
            top: 35%;
            @include vendor(transform, translateY(-35%));
        }
    }

//
// COMPONENTS
//
@import "components.site-nav";
.site-content {
    height: 100%;
    padding-top: 81px + $spacing-unit;

    @include media-query('tablet') {
        padding-top: 50px + $spacing-unit--large;
    }

    @include media-query('desk-hd') {
        padding-top: 74px + $spacing-unit--huge;
    }
}

@import "components.browser";

.masthead {
    .heading {
        margin: 0;
    }
    .subheading {
        margin: 0;
        color: $color-text;
    }
}

//
// TRUMPS
//
$inuit-widths-columns: (12);
$inuit-enable-margins: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--negative: true;
$inuit-enable-margins--negative-large: true;
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-spacing/trumps.spacing";
