---
layout: default
selector: hire
title: Hire
site_nav_index: 6
---

<div class="wrapper">
    <section class="chapter"><!--
        --><header class="chapter__header">
            <h1 class="heading kilo">Let's work together</h1>
        </header><!--

        --><div class="chapter__content">
            <div class="chapter__intro">
                <p class="delta">I'm a talented back-to-front-end web developer, based in the
                    UK. I've got a great deal to offer and I'm extremely passionate about
                    <strike>my</strike> our work.

                <p class="delta">Get in touch and we'll build something beautiful.</p>
            </div>
        </div><!--

        --><div class="chapter__meta">
            {% include testimonials/little-yellow-duck.html %}
            {% include testimonials/tutora.html %}
        </div><!--
    --></div>
</div>
